{% extends "snippets/snipaccueil.html" %}

{% block snippets %}
    <section id="content" class="marg container" ng-app="SnipDet">

        <article id="All" ng-controller="SnipDetCtrl">
            <h3><span ng-bind="snip.id"></span> - <span ng-bind="snip.title"></span></h3>
            <p><span ng-bind="snip.description | newlines"></span></p>
            <aside class="codeblock">
                <code><span ng-bind-Html="snip.code | newlines"></span></code>
            </aside>
        </article>
        <a href="{% url 'snipaccueil' %}">Back</a>
    </section>
{% endblock %}

{% block angular %}{% load static %}<script src="{% static "js/snipdetail.js" %}"></script>{% endblock %}
