{% extends "skeleton.html" %}
{% block content %}
    {% for data in surls %}
        {% if data.pseudo != '' %}
            <p>{{ data.longurl }} via <a href="http://{{ request.get_host }}{% url 'redirection' data.shorturl %}">http://{{ request.get_host }}/{{ data.shorturl }}</a> par {{ data.pseudo }} ({{ data.nbacces }} accès)</p>
        {% else %}
            <p>{{ data.longurl }} via <a href="http://{{ request.get_host }}{% url 'redirection' data.shorturl %}">http://{{ request.get_host }}/{{ data.shorturl }}</a> ({{ data.nbacces }} accès)</p>
        {% endif %}
    {% empty %}
        <p>pas d'url à afficher</p>
    {% endfor %}
{% endblock %}
