/* Global */
html {
    position: relative;
    min-height: 100%;
}

body {
  min-height: 100%;
}

.degrade {
	background-image:linear-gradient(#F8fcff, #FFECB4);
}

/* content */
.marg {
    /* navbar protection */
	margin-top: 50px;
	/* footer protection */
	margin-bottom: 60px;
}

/* footer */
.footer {
  padding-top: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*padding-top: 20px;*/
}