{% extends "skeleton.html" %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href={% static 'css/blog.css' %} />
{% endblock %}
{% block content %}
    <section class="row">

        <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-2 col-lg-offset-2">
            <div class="blog-header">
                <h1 class="blog-title">The Sylvain's Blog</h1>
                <p class="lead blog-description">Entre blog et notes de version, suivi croisé de ce site et de mon GitHub.</p>
            </div>

            {% for article in articles %}
            <div class="article blog-post">
                <h3 class="blog-post-title">{{ article.titre }}</h3>
                <p class="blog-post-meta">Par {{ article.auteur }} le {{ article.date }}<p>
                <p>{{ article.contenu|truncatewords_html:80 }}</p>
                <p><a href="{% url 'lire_article' article.id article.slug %}">Lire la suite</a>
            </div>
            {% empty %}
            <p>Aucun article.</p>
            {% endfor %}

            {# Mise en forme de la pagination ici #}
            {% if is_paginated %}
                <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Précédente</a> —
                {% endif %}
                    Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
                {% if page_obj.has_next %}
                    — <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
                {% endif %}
                </div>
            {% endif %}
        </article>

        <aside class="sidebar col-xs-12 col-sm-12 col-md-1 col-lg-1 col-md-offset-1 col-lg-offset-1">
            <div class="row sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>Je n'entend pas faire ce ce site une référence de quoi que ce soit mais juste un laboratoire pour mes tests.</p>
            </div>
            <div class="row">
                <h4>Catégories</h4>
                <ul>
                {% for categorie in categories %}
                    <li><a href="{% url "blog_categorie" categorie.id %}">{{ categorie.nom }}</a></li>
                {% endfor %}
                </ul>
            </div>
            <div class="row">
                <h4>Ailleurs</h4>
                <ul>
                    <li><a href="https://github.com/sylvainnizac">GitHub</a></li>
                </ul>
            </div>
        </aside>

    </section>
{% endblock %}
