<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="/media/css/style.css" />
        <title>{% block title %}Mon blog de bidouillages et figurines{% endblock %}</title>
    </head>
    <body>
        <header>Djangoctopus</header>
        
        <nav>
            {% block nav %}
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
            {% endblock %}
        </nav>
        
        <section id="content">
            {% block content %}{% endblock %}
        </section>
        
        <footer>&copy; Djangoctopus by Sylvain</footer>
    </body>
</html>
