{% extends "skeleton.html" %}

{% block style %}
        {% load static %}
        <link rel="stylesheet" href={% static 'css/styleCV.css' %} />
		<!--[if lt IE 9]>
            <script src="http://github.com/aFarkas/html5shiv/blob/master/dist/html5shiv.js"></script>
        <![endif]-->
        <!--[if lte IE 7]>
			<link rel="stylesheet" href={% static 'css/style_ieCV.css' %} />
        <![endif]-->
{% endblock %}

{% block title %}CV NIZAC Sylvain{% endblock %}

{% block altcontent %}
        <nav class="panneau_lat">
			<figure>
				<img src="{% static 'img/photo_ID.jpg' %}" alt="Une photo de Sylvain NIZAC" class="photoID, insert_pann_lat"/>
			</figure>
			<h1 class="ubuntumono">Liens</h1>
			<figure id ="GitHub">
				<a href="https://github.com/sylvainnizac">
					<img src="{% static 'img/Logo_GitHub.png' %}" alt="Le logo de GitHub" class="insert_pann_lat"/>
				</a>
			</figure>
			<figure id ="ISTQB-F">
				<a href="https://ssl2.gasq.org/registration/successful-candidate-register.html?tx_drowcdb_piEntries%5Bdetail%5D=13181">
					<img src="https://ssl2.gasq.org/logo_13181_1_4fcf7fa6809ce69b1f0112856ced33b5.png" alt="le logo GASQ registered" class="insert_pann_lat"/>
				</a>
			</figure>
		</nav>

		<section class="principale">
		<header>
			<article class="top_titre">
				<h1 class="titles ubuntumono">Sylvain NIZAC</h1>
				<h3 class="titles">Développeur web Python/Django junior</h3>
			</article>
			<figure class="mob_ID">
				<img src="{% static 'img/photo_ID.jpg' %}" alt="Une photo de Sylvain NIZAC" class="photoID_mobile"/>
			</figure>
		</header>

		<article class="article">
			<h2 class="realign ubuntumono art_titres">Expérience professionnelle</h2>
			<ul>
				<li><strong>Mai 2015 - présent :</strong> Développeur testeur, GFI Lille</li>
				<li><strong>Sept 2014 – Avril 2015 :</strong> Développeur testeur, Actif Solution Lille, Prestation chez GFI</li>
				<li><strong>2010 - 2013 :</strong> Ingénieur de recherche, Centre technique AREVA (Montpellier)</li>
				<li><strong>2009 - 2010 :</strong> Ingénieur de recherche, CNRS (Montpellier)</li>
			</ul>
		</article>

		<article class="article">
		       <h2 class="ubuntumono art_titres">Compétences et connaissances techniques</h2>
			<ul>
				<li><em>Junior</em> pour Django, Python & COBOL</li>
				<li><em>Bases</em> de HTML 5, CSS, JS, Bootstrap et C</li>
				<li>2 liens pour voir ce que j'ai déjà fait</li>
                <ol>
                    <li><a href="https://github.com/sylvainnizac">https://github.com/sylvainnizac</a></li>
                    <li><a href="http://snizac.ddns.net">snizac.ddns.net</a></li>
                </ol>
			</ul>
		</article>

		<article class="article">
		       <h2 class="ubuntumono art_titres">Formation, Langues et Certifications</h2>
			<ul>
				<li><strong>Dec 2014 :</strong> ISTQB, niveau Fondation <span class="std">(lien ci-contre)</span>
                    <span class="mob">(Lien vers le site du <a href="https://ssl2.gasq.org/registration/successful-candidate-register.html?tx_drowcdb_piEntries%5Bdetail%5D=13181">GASQ)</a></span>
                </li>
				<li><strong>2009 :</strong> Master chimie, matériaux et entreprise - Université de RENNES 1</li>
				<li>Anglais niveau Européen B2 (>785 pts TOEIC)</li>
			</ul>
		</article>

		<article class="article">
		    <h2 class="ubuntumono art_titres">Centres d'intérêt</h2>
			<ul>
				<li>Lecture et cinéma principalement SF, fantasy et policier</li>
				<li>Jeux de rôle, SF principalement</li>
				<li>peinture et modélisme (figurines 28mm, SF encore une fois)</li>
			</ul>
		</article>

		<article class="article">
		    <h2 class="ubuntumono art_titres">Divers</h2>
			<ul>
				<li>Permis B et véhicule</li>
			</ul>
		</article>
        </section>
{% endblock %}
