{% extends "skeleton.html" %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href={% static 'css/galery.css' %} />
    <link rel="stylesheet" href={% static 'css/offcanvas.css' %} />
    <link rel="stylesheet" href={% static 'lightbox/dist/css/lightbox.css' %} />
{% endblock %}

{% block content %}
<section class="row row-offcanvas row-offcanvas-left" ng-app="PhotoGalery" ng-controller="PhotoCtrl">
    
    <p class="pull-left visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    
    <aside class="col-xs-3 col-sm-3 col-md-1 col-lg-1 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 panneau_lat sidebar-offcanvas" id="sidebar">
        <p ng-click="filtre()">Figurines</p>
    <ul>
    {% for sidemenu in sidemenus %}
    {% for fac in sidemenu %}
        {% if forloop.counter0 == 0 %}
        <li class="faction" ng-click="filtre({{ fac.id }})">{{ fac }}</li>
        {% else %}
        {% for sect in fac %}
        {% if forloop.counter0 == 0 %}
        <ul>
            <li class="sectorielle" ng-click="filtre({{ sidemenu.0.id }}, {{ sect.id }})">{{ sect }}</li>
        {% else %}
            <ul>
                {% for fig in sect %}
                <li class="figurine" ng-click="filtre({{ sidemenu.0.id }}, {{ fac.0.id }}, {{ fig.id }})">{{ fig }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}
    {% endfor %}
    </ul>
    </aside>

    <article class="container marg col-xs-12 col-sm-9">

        <article>
            <div ng-repeat="photo in photos" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 thumb">

                <a data-lightbox="main" data-title="[[ photo.fig ]]" class="thumbnail" ng-href="[[ photo.pic_path | truncate:8 ]]">
                    <img class="img-responsive miniature" ng-src="[[ photo.pic_path | truncate:8 ]]" alt="Generic placeholder image" />
                </a>

            </div>
        </article>

    </article>

</section>

{% endblock %}

{% block footer %}using lokesh <a href="https://github.com/lokesh/lightbox2">lightbox2</a>{% endblock %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="{% static "js/galery.js" %}"></script>
<script src="{% static "js/offcanvas.js" %}"></script>
<script src="{% static "lightbox/dist/js/lightbox.js" %}"></script>
{% endblock %}
